.responsive-nav {
    display: none;
  }
  

  
  @media only screen and (max-width: 821px) {
    .responsive-nav {
      display: block !important;
      flex-direction: column;
      align-items: center;
      overflow: visible !important;
    }
  }

